.container{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212 !important;
}



label, .MuiSelect-iconOutlined{
  color: rgba(255, 255, 255, 0.38) !important;
}
.MuiInputBase-root, .MuiFormHelperText-root, #date{
  color: rgba(255, 255, 255, 0.6) !important;
}
.Modal-footer{
  padding: 3% 17%;
  display: flex;
  justify-content: space-between;
}
.MuiOutlinedInput-input{
  color: rgba(255, 255, 255, 0.87) !important;
}
#upload-btn-cancel{
  background-color: unset !important;
}
